<!DOCTYPE html>
<html>
{{template "head"}}
<body>
{{template "headbar" .}}

<div class="container-fluid">
	<div class="row-fluid">
		<div class="span2">
			<div class="media">
				 <a href="#" class="pull-left"><img src="img/a_002.jpg" class="media-object" alt='' /></a>
				<div class="media-body">
					<h4 class="media-heading">
						新员工周报月报
					</h4> 请尽量使用HTML5兼容的视频格式和视频代码实现视频播放, 以达到更好的体验效果.
				</div>
			</div>
		</div>
		<div class="span10">
			<blockquote>
				<p>
					github是一个全球化的开源社区.
				</p> <small>关键词 <cite>开源</cite></small>
			</blockquote>
			<blockquote>
				<p>
					github是一个全球化的开源社区.
				</p> <small>关键词 <cite>开源</cite></small>
			</blockquote>
			<blockquote>
				<p>
					github是一个全球化的开源社区.
				</p> <small>关键词 <cite>开源</cite></small>
			</blockquote>
			<div class="pagination">
				<ul>
					<li>
						<a href="#">上一页</a>
					</li>
					<li>
						<a href="#">1</a>
					</li>
					<li>
						<a href="#">2</a>
					</li>
					<li>
						<a href="#">3</a>
					</li>
					<li>
						<a href="#">4</a>
					</li>
					<li>
						<a href="#">5</a>
					</li>
					<li>
						<a href="#">下一页</a>
					</li>
				</ul>
			</div>
		</div>
	</div>
	<div class="row-fluid">
		<div class="span2">
			<div class="media">
				 <a href="#" class="pull-left"><img src="img/a_002.jpg" class="media-object" alt='' /></a>
				<div class="media-body">
					<h4 class="media-heading">
						新员工总结分享
					</h4> 请尽量使用HTML5兼容的视频格式和视频代码实现视频播放, 以达到更好的体验效果.
				</div>
			</div>
		</div>
		<div class="span10">
			<blockquote>
				<p>
					github是一个全球化的开源社区.
				</p> <small>关键词 <cite>开源</cite></small>
			</blockquote>
			<blockquote>
				<p>
					github是一个全球化的开源社区.
				</p> <small>关键词 <cite>开源</cite></small>
			</blockquote>
			<blockquote>
				<p>
					github是一个全球化的开源社区.
				</p> <small>关键词 <cite>开源</cite></small>
			</blockquote>
		</div>
	</div>
</div>				
<div><h5 align="middle">现在时间：{{ .Time}} </h5></div>
<div><h5 align="middle">开发者：{{ .Author}} </h5></div>
		<script type="text/javascript" src="http://cdn.staticfile.org/jquery/2.0.3/jquery.min.js"></script>
		<script type="text/javascript" src="/static/js/bootstrap.min.js"></script>
</body>
</html>