<!DOCTYPE html>
<html>
{{template "head"}}
<body>
{{template "headbar" .}}
<div>
	<br />
</div>
		<div class="container" style="width: 500px;">
			<form class="form-horizontal"  method="POST"  >
			  <div class="form-group">
			    <label class="col-lg-4 control-label">请输入注册用户帐号：</label>
			    <div class="col-lg-6">
			      <input id="uname" class="form-control" name="uname" placeholder="Account">
			    </div>
			  </div>

			  <div class="form-group">
			    <label class="col-lg-4 control-label">请设置注册用户密码：</label>
			    <div class="col-lg-6">
			      <input id="pwd1" type="password" class="form-control" name="pwd1" placeholder="Password">
			    </div>
			  </div>

			  <div class="form-group">
			    <label class="col-lg-4 control-label">请再次输入密码：</label>
			    <div class="col-lg-6">
			      <input id="pwd2" type="password" class="form-control" name="pwd2" placeholder="Password Again">
			    </div>
			  </div>

			  <div class="form-group">
			    <label class="col-lg-4 control-label">请输入手机号码：</label>
			    <div class="col-lg-6">
			      <input id="phone"  class="form-control" name="phone" placeholder="Phone Number">
			    </div>
			  </div>

			  <div class="form-group">
			    <div class="col-lg-offset-2 col-lg-10">			      	
			      	<script type="text/javascript">
				      	function backToHome() {
				      		window.location.href = "/Wuziqi/PVP/login";
				      		return false;
				      	}
				      	function checkInput() {
				      		var uname = document.getElementById("uname");
				      		var name=uname.value;
				      		if (uname.value.length == 0) {
				      			alert("请输入用户帐号");
				      			return false;
				      		}

				      		var pwd1 = document.getElementById("pwd1");
				      		if (pwd1.value.length == 0) {
				      			alert("请输入用户密码");
				      			return false;
				      		}
				      		var pwd2 = document.getElementById("pwd2");
				      		if (pwd2.value != pwd1.value) {
				      			alert("第二次输入的密码与第一次不一致，请重新输入！");
				      			return false;
				      		}
				      		var pwd=pwd1.value;
							var phone = document.getElementById("phone");
				      		if (phone.value.length!=11) {
				      			alert("请输入正确的手机号码！");
				      			return false;
				      		}
				      		var phonenum=phone.value;
				      		$.ajax({
				      			url:"/Wuziqi/PVP/regist",
				      			cache:false,
				      			data:{"name":name,"password":pwd,"phone":phonenum},
				      			dataType:"json",
				      			type:'POST',
				      			success:function(data) {
				      				/*if (data["result"]==="success") {
				      					alert("注册成功，请返回登录！")
				      					return
				      				};
				      				document.all.result.innerHTML="<h2>"+data["result"]+"</h2>";*/
				      				alert(data["result"])
				      			},
				      			error:function() {
				      			}
				      		});
				      	}

			      	</script>
			    </div>
			  </div>
			</form>
			<button  class="btn btn-default" onclick="checkInput();">注册</button>
			<button class="btn btn-default" onclick="return backToHome();">返回</button>
			<div id="result">
				
			</div>
		</div>
	</body>
</html>