<!DOCTYPE html>
<html>
{{template "head"}}
<body>
{{template "headbar" .}}

<div class="container-fluid">
	<div class="row-fluid">
		<div class="span12">
			<div class="tabbable" id="tabs-0">
				<ul class="nav nav-tabs">
					<li class="active">
						<a href="#panel-1" data-toggle="tab">业务基础</a>
					</li>
					<li>
						<a href="#panel-2" data-toggle="tab">专项技能</a>
					</li>
				</ul>
				<div class="tab-content">
					<div class="tab-pane active" id="panel-1">

						<div class="tabbable" id="tabs-1">
							<ul class="nav nav-tabs">
							<li class="active">
									<a href="#panel-100" data-toggle="tab">总列表</a>
							</li>
							{{range .basicsubclass}}
								<li>
									<a href="#panel-{{.PanelID}}" data-toggle="tab">{{.Name}}</a>
								</li>
							{{end}}
							</ul>
						</div>

						<div class="tab-content">
							<div class="tab-pane active" id="panel-100">
							<p> 这是总列表</p>
							</div>
						{{range .basicsubclass}}
							<div class="tab-pane active" id="panel-{{.PanelID}}">
								<table class="table table-hover table-striped">
										<thead>
											<tr>
											<th>
												姓名
											</th>
										{{range $key,$val:= .Capability}}	
											<th>
												{{$val}}
											</th>
										{{end}}
											</tr>
										</thead>
										<tbody>
											
											{{range $key,$val:= .People}}
											<tr>
											<td>
												{{$key}}
											</td>
												{{str2html $val}}
											</tr>
											{{end}}
										</tbody>
								</table>
							</div>
						{{end}}	
						</div>
					</div>

					<div class="tab-pane" id="panel-2">
							<div class="tabbable" id="tabs-2">
							<ul class="nav nav-tabs">
							<li class="active">
									<a href="#panel-100" data-toggle="tab">总列表</a>
							</li>
							{{range .specialsubclass}}
								<li>
									<a href="#panel-{{.PanelID}}" data-toggle="tab">{{.Name}}</a>
								</li>
							{{end}}
							</ul>
						</div>

						<div class="tab-content">
							<div class="tab-pane active" id="panel-100">
							<p> 这是总列表</p>
							</div>
						{{range .specialsubclass}}
							<div class="tab-pane active" id="panel-{{.PanelID}}">
								<table class="table table-hover table-striped">
										<thead>
											<tr>
											<th>
												姓名
											</th>
										{{range $key,$val:= .Capability}}	
											<th>
												{{$val}}
											</th>
										{{end}}
											</tr>
										</thead>
										<tbody>
											
											{{range $key,$val:= .People}}
											<tr>
											<td>
												{{$key}}
											</td>
												{{str2html $val}}
											</tr>
											{{end}}
										</tbody>
								</table>
							</div>
						{{end}}	
						</div>
					</div>

				</div>

			</div>
			
		</div>
	</div>
</div>				


		<script type="text/javascript" src="http://cdn.staticfile.org/jquery/2.0.3/jquery.min.js"></script>
		<script type="text/javascript" src="/static/js/bootstrap.min.js"></script>
</body>
</html>