<!DOCTYPE html>
<html>
{{template "head"}}
<body>
{{template "headbar" .}}

<div class="container-fluid">
	<div class="row-fluid">
		<div class="span12">
			<div class="tabbable" id="tabs-0">
				<ul class="nav nav-tabs">
					<li class="active">
						<a href="#panel-1" data-toggle="tab">业务基础</a>
					</li>
					<li>
						<a href="#panel-2" data-toggle="tab">专项技能</a>
					</li>
				</ul>
				<div class="tab-content">
					<div class="tab-pane active" id="panel-1">
						
					<div class="tabbable" id="tabs-447132">
						<ul class="nav nav-tabs">

						{{range .basicsubclass}}
							<li class="active">
								<a href="#panel-{{.basicsubclass.PanelID}}" data-toggle="tab">{{.basicsubclass.Name}}</a>
							</li>
							<!--div class="tab-content">
								<div class="tab-pane active" id="panel-{{.basicsubclass.PanelID}}">
								<table class="table table-hover table-striped">
								<thead>
								
									<tr>
										<th>
											姓名
										</th>
									{{range $key,$val:= .basicsubclass.Capability}}	
										<th>
											{{$val}}
										</th>
									{{end}}
									</tr>
								</thead>
								<tbody>
									<tr>
										<td>
											1
										</td>
										
									</tr>
								</tbody>
								</table>
								</div>
							</div-->
						{{end}}
							<!--li>
								<a href="#panel-102" data-toggle="tab">基础协议</a>
							</li>
							<li>
								<a href="#panel-103" data-toggle="tab">基础业务</a>
							</li>
							<li>
								<a href="#panel-104" data-toggle="tab">QoE</a>
							</li>
							<li>
								<a href="#panel-105" data-toggle="tab">业务应用</a>
							</li-->
						</ul>

			

					</div>
					</div>

					<div class="tab-pane" id="panel-2">
						<p>
							专项技能
						</p>
					</div>
				</div>
			</div>
			




			<table class="table table-hover table-striped">
				<thead>
					<tr>
						<th>
							编号
						</th>
						<th>
							产品
						</th>
						<th>
							交付时间
						</th>
						<th>
							状态
						</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td>
							1
						</td>
						<td>
							TB - Monthly
						</td>
						<td>
							01/04/2012
						</td>
						<td>
							Default
						</td>
					</tr>
					<tr class="success">
						<td>
							1
						</td>
						<td>
							TB - Monthly
						</td>
						<td>
							01/04/2012
						</td>
						<td>
							Approved
						</td>
					</tr>
					<tr class="error">
						<td>
							2
						</td>
						<td>
							TB - Monthly
						</td>
						<td>
							02/04/2012
						</td>
						<td>
							Declined
						</td>
					</tr>
					<tr class="warning">
						<td>
							3
						</td>
						<td>
							TB - Monthly
						</td>
						<td>
							03/04/2012
						</td>
						<td>
							Pending
						</td>
					</tr>
					<tr class="info">
						<td>
							4
						</td>
						<td>
							TB - Monthly
						</td>
						<td>
							04/04/2012
						</td>
						<td>
							Call in to confirm
						</td>
					</tr>
				</tbody>
			</table>



		</div>
	</div>
</div>				
<div><h5 align="middle">现在时间：{{ .Time}} </h5></div>
<div><h5 align="middle">开发者：{{ .Author}} </h5></div>
		<script type="text/javascript" src="http://cdn.staticfile.org/jquery/2.0.3/jquery.min.js"></script>
		<script type="text/javascript" src="/static/js/bootstrap.min.js"></script>
</body>
</html>