<!DOCTYPE html>
<html>
    <head>
        <title>Huawei</title>
        <link rel="shortcut icon" href="/static/img/huawei.jpg" />
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
        <script type="text/javascript" src="/static/js/jquery-1.7.2.js"></script>
         <!-- Stylesheets -->
        <link href="/static/css/bootstrap.css" rel="stylesheet" />
        <link href="/static/css/bootstrap.min.css" rel="stylesheet" />
        <link href="/static/css/bootstrap-theme.css" rel="stylesheet" />
        <link href="/static/css/bootstrap-theme.min.css" rel="stylesheet" />
    </head>
<body>
{{template "headbar" .}}

<style type="text/css">
    $('#datetimepicker').datetimepicker({
        format: 'yyyy-mm-dd hh:ii'
    });
    
</style>

<script type="text/javascript" src="http://cdn.staticfile.org/jquery/2.0.3/jquery.min.js"></script>
<script type="text/javascript" src="/static/js/jquery.js"></script>
<script type="text/javascript" src="/static/js/bootstrap.min.js"></script>
<script type="text/javascript">
    function publishSubmit() {

        var name = $("#inputName").val()
        var content = $("#inputContent").val()
        var descp = $("#inputDesp").val()
        var time = $("#inputTime").val()
        var place = $("#inputPlace").val()
        var teacher = $("#inputTeacher").val()
        var status = $("#inputStatus").val()

        if (name.length == 0) {
            $("#err .header").html("课程名称不能为空");
            $("#err").show("fast");
            return false;
        }
        if (content.length == 0) {
            $("#err .header").html("课程内容不能为空");
            $("#err").show("fast");
            return false;
        }
        if (time.length == 0) {
            $("#err .header").html("开课时间不能为空");
            $("#err").show("fast");
            return false;
        }
        if (place.length == 0) {
            $("#err .header").html("地点不能为空");
            $("#err").show("fast");
            return false;
        }
        if (teacher.length == 0) {
            $("#err .header").html("主讲人不能为空");
            $("#err").show("fast");
            return false;
        }
        if (status.length == 0) {
            $("#err .header").html("状态不能为空");
            $("#err").show("fast");
            return false;
        }


        $.post("/training/publish", 
            {"name":name,"content":content,"descp":descp,"time":time,"place":place,"teacher":teacher,"status":status},
            function(data){

            if (data.length == 0) {
               // window.location.href="/";
            } else {
               if(data=="success")
               {
                alert("提交成功！")
                }
            }
        });
    }

</script>

<div class="container-fluid">
    <div class="row-fluid" style="height:10%;">
        <div class="span12">

            <!--  Fixed Page 
                  TAB block
            -->
            <div class="tabbable" id="tabs-0">
                <ul class="nav nav-tabs">
                    <li class="active">
                        <a href="#schedule" data-toggle="tab">当前课程</a>
                    </li>
                    <li >
                        <a href="#collect" data-toggle="tab">课程收集</a>
                    </li>
                    {{if .IsAdmin}}
                    <li>
                        <a href="#publish" data-toggle="tab">课程发布</a>
                    </li>
                    {{end}}
                    <li class="dropdown pull-right">
                         <a href="#" data-toggle="dropdown" class="dropdown-toggle">设置<strong class="caret"></strong></a>
                        <ul class="dropdown-menu">
                            <li>
                                <a href="#">操作</a>
                            </li>
                            <li>
                                <a href="#">设置栏目</a>
                            </li>
                            <li>
                                <a href="#">更多设置</a>
                            </li>
                            <li class="divider">
                            </li>
                            <li>
                                <a href="#">分割线</a>
                            </li>
                        </ul>
                    </li>
                </ul>
                

                <div class="row-fluid">
                    <div style="height:20px">
                        <!-- padding in two divs -->
                    </div>

                    <!--  Fixed Page
                          left column 
                    -->
                    <div class="span2" style="float:left;width:20%;margin-left:35px">
                        <ul class="nav nav-list">
                            <li class="nav-header">
                                <b>主要内容</b>
                            </li>
                            <li class="active">
                                <a href="#">首页</a>
                            </li>
                            <li>
                                <a href="#">库</a>
                            </li>
                            <li>
                                <a href="#">应用</a>
                            </li>
                            <li class="nav-header">
                                <b>标签</b>
                            </li>
                            <li>
                                <a href="#">资料</a>
                            </li>
                            <li>
                                <a href="#">设置</a>
                            </li>
                            <li class="divider">
                            </li>
                            <li>
                                <a href="#">帮助</a>
                            </li>
                        </ul>
                    </div>

                    <!-- NOT Fixed Page
                         page center for content
                         You may add a page here
                    -->
                    <div class="tab-content">

                        <!-- tab first 
                            "schedule" 
                        -->
                        <div class="tab-pane active" id="schedule">
                            <div class="span6" style="float:left;width:60%">
                                <div class="row-fluid" style="float:right">
                                    <!--
                                    <div class="span8">
                                        <img alt="1000x100" src="static/img/training-search.png" />
                                    </div>
                                    -->
                                    <div class="span4">
                                        <form class="form-search">
                                            <input class="input-medium search-query" type="text" /> <button type="submit" class="btn">查找</button>
                                        </form>
                                    </div>
                                </div>
                                <div style="clear:both"></div>
                                <ul class="thumbnails">
                                    <li class="span4">
                                        <div class="thumbnail">
                                            <table class="table">
                                                <thead>
                                                    <tr>
                                                        <th>
                                                            课程名称
                                                        </th>
                                                        <th>
                                                            主 讲 人
                                                        </th>
                                                        <th>
                                                            课程内容
                                                        </th>
                                                         <th>
                                                            课程说明
                                                        </th>
                                                        <th>
                                                            开课时间
                                                        </th>
                                                        <th>
                                                            地    点
                                                        </th>
                                                        <th>
                                                            状    态
                                                        </th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                   {{range .ScheduleTable}}
                                                    <tr>
                                                        <td>
                                                            {{.Title}}
                                                        </td>
                                                        <td>
                                                            {{.Teacher}}
                                                        </td>
                                                        <td>
                                                            {{.Content}}
                                                        </td>
                                                        <td>
                                                            {{.Description}}
                                                        </td>
                                                        <td>
                                                            {{.StartDate}}
                                                        </td>
                                                        <td>
                                                            {{.Room}}
                                                        </td>
                                                        <td>
                                                            {{.Status}}
                                                        </td>
                                                    </tr>
                                                   {{end}}  
                                                </tbody>
                                            </table>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>

                        <!-- tab second
                             "schedule collect" 
                        -->
                        <div class="tab-pane" id="collect">
                            <div class="span6" style="float:left;width:60%">
                                <ol class="thumbnails">
                                    <li class="span4">
                                        <div class="thumbnail">
                                            <div class="caption">
                                                <div>
                                                    <h4>请在下面的输入框中输入您的培训标题：</h4>
                                                </div>
                                                <div class="radio">
                                                    <input type="text" class="form-control" id="inputTitle" placeholder="请给你的培训起一个标题">
                                                </div>
                                            </div>
                                        </div>
                                    </li>
                                    <li class="span4">
                                        <div class="thumbnail">
                                            <div class="caption">
                                                <div>
                                                    <h4>请在下面的输入框中输入这个培训您想了解的方面：</h4>
                                                </div>
                                                <div class="radio">
                                                     <textarea class="form-control" style="width:100%" rows="3"></textarea>
                                                </div>
                                            </div>
                                        </div>
                                    </li>

                                    <li class="span4">
                                        <div class="thumbnail">
                                            <div class="caption">
                                                <div>
                                                    <h4>你对此培训掌握程度：</h4>
                                                </div>
                                                <div class="radio">
                                                  <label>
                                                    <input type="radio" name="optionsRadiosUnderstand" id="optionsRadios1" value="option1" checked>
                                                    空白（不了解）
                                                  </label>
                                                </div>
                                                <div class="radio">
                                                  <label>
                                                    <input type="radio" name="optionsRadiosUnderstand" id="optionsRadios2" value="option2">
                                                    了解
                                                  </label>
                                                </div>
                                                <div class="radio">
                                                  <label>
                                                    <input type="radio" name="optionsRadiosUnderstand" id="optionsRadios3" value="option3" disabled>
                                                    熟悉
                                                  </label>
                                                </div>
                                                <div class="radio">
                                                  <label>
                                                    <input type="radio" name="optionsRadiosUnderstand" id="optionsRadios3" value="option3" disabled>
                                                    精通
                                                  </label>
                                                </div>
                                            </div>
                                        </div>
                                    </li>
                                    <li class="span4">
                                        <div class="thumbnail">
                                            <div class="caption">
                                                <div>
                                                    <h4>请选择你的培训紧急程度：</h4>
                                                </div>
                                                <div class="radio">
                                                  <label>
                                                    <input type="radio" name="optionsRadiosEmerg" id="optionsRadios1" value="option1" checked>
                                                    很紧急（一个星期内）
                                                  </label>
                                                </div>
                                                <div class="radio">
                                                  <label>
                                                    <input type="radio" name="optionsRadiosEmerg" id="optionsRadios2" value="option2">
                                                    一般（半个月内）
                                                  </label>
                                                </div>
                                                <div class="radio disabled">
                                                  <label>
                                                    <input type="radio" name="optionsRadiosEmerg" id="optionsRadios3" value="option3" disabled>
                                                    不紧急（一个月内）
                                                  </label>
                                                </div>
                                            </div>
                                        </div>
                                    </li>
                                    <li class="span4">
                                        <div class="thumbnail">
                                            <div class="caption">
                                                <div>
                                                    <h4>请选择你的培训重要程度：</h4>
                                                </div>
                                                <div class="radio">
                                                  <label>
                                                    <input type="radio" name="optionsRadiosImportance" id="optionsRadios1" value="option1" checked>
                                                    非常重要
                                                  </label>
                                                </div>
                                                <div class="radio">
                                                  <label>
                                                    <input type="radio" name="optionsRadiosImportance" id="optionsRadios2" value="option2">
                                                    重要
                                                  </label>
                                                </div>
                                                <div class="radio disabled">
                                                  <label>
                                                    <input type="radio" name="optionsRadiosImportance" id="optionsRadios3" value="option3" disabled>
                                                    一般
                                                  </label>
                                                </div>
                                            </div>
                                         </div>
                                    </li>
                                    <li class="span4">
                                        <div class="thumbnail">
                                            <div class="caption">
                                                <img alt="300x180" src="static/img/collect.jpg" />
                                                <div class="caption">
                                                    <p>
                                                        <a class="btn btn-primary" href="#">取消</a>
                                                        <a class="btn" href="#">提交</a>
                                                    </p>
                                                </div>
                                            </div>      
                                        </div>
                                    </li>
                                </ol>
                            </div>
                        </div>

                        <!-- tab third 
                            "schedule publish" visiable for administrator
                        -->
                        {{if .IsAdmin}}
                        <div class="tab-pane" id="publish">
                            <div class="span6" style="float:left;width:60%">
                                <div class="thumbnail">
                                    <div class="span6">
                                        <form class="form-horizontal">
                                            <div class="form-group">
                                                <label for="inputName" class="col-sm-2 control-label" style="font-family:Courier">课程名称</label>
                                                <div class="col-sm-8">
                                                  <input type="text" class="form-control" id="inputName" placeholder="课程名称">
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label for="inputContent" class="col-sm-2 control-label">课程内容</label>
                                                <div class="col-sm-8">
                                                  <textarea class="form-control" rows="3" id="inputContent" placeholder="课程内容"></textarea>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label for="inputDesp" class="col-sm-2 control-label">课程说明</label>
                                                <div class="col-sm-8">
                                                  <input type="text" class="form-control" id="inputDesp" placeholder="课程说明">
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label for="inputTime" class="col-sm-2 control-label">开课时间</label>
                                                <div class="col-sm-5">
                                                  <input type="text" value="2015-05-15 21:05" id="inputTime">
                                                </div>
                                            </div>
                                            
                                            <div class="form-group">
                                                <label for="inputPlace" class="col-sm-2 control-label">地   点</label>
                                                <div class="col-sm-3">
                                                  <select class="form-control" id="inputPlace">
                                                      <option>H2-4A22R</option>
                                                      <option>H2-4A23R</option>
                                                      <option>H2-4A25R</option>
                                                      <option>H2-4A30R</option>
                                                      <option>H2-4A31R</option>
                                                      <option>H2-4B07R</option>
                                                      <option>H2-4B08R</option>
                                                      <option>Other</option>
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label for="inputTeacher" class="col-sm-2 control-label">主 讲 人</label>
                                                <div class="col-sm-5">
                                                  <input type="text" class="form-control" id="inputTeacher" placeholder="主讲人姓名 工号，比如：张三 z00310310">
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label for="inputStatus" class="col-sm-2 control-label">状   态</label>
                                                <div class="col-sm-3">
                                                    <select class="form-control" id="inputStatus">
                                                      <option>未开始</option>
                                                      <option>即将开始</option>
                                                      <option>进行中</option>
                                                      <option>已完成</option>
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label for="inputEmail3" class="col-sm-2 control-label"></label>
                                                <div class="col-sm-2">
                                                     <button type="submit" class="btn" style="width:120px">保存</button>
                                                </div>
                                                <div class="col-sm-3">
                                                     <button type="submit" class="btn" style="width:120px" onclick="publishSubmit();">提交</button>
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                        {{end}}
                    </div>

                    <!-- Fixed Page
                        right collumn 
                    -->
                    <div class="span4" style="float:right;width:20%">
                        <div class="accordion" id="accordion-743853">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Fixed Page
         page tail 
    -->
    <div style="clear:both"></div>
    <div style="height:200px">
    </div>
    <div class="row-fluid" align="center" style="height:200px;border-top:solid; border-top-width:1px;border-color:#CCCCFF;">
        <div class="span12" align="center" style="margin-top:50px">
            <p>
                本可视化布局程序在HTML5浏览器上运行更加完美, 能实现自动本地化保存, 即使关闭了网页, 下一次打开仍然能恢复上一次的操作.
            </p>
            <p>
                <a class="btn" href="#">查看更多 »</a>
            </p>
        </div>
    </div>
</div>	
</body>
</html>